<div class="container portfolio-container">
  <h1>Modifer Caisse</h1>

  <%= render 'form', comptabilite: @comptabilite %>

  <%= link_to 'Voir', @comptabilite %> |
  <%= link_to 'Retour', comptabilites_path %>
</div>