<div class="container portfolio-container">
  <h1>Modification Réglement</h1>

  <%= render 'form', reglement: @reglement %>

  <%= link_to 'Voir', @reglement %> |
  <%= link_to 'Retour', reglements_path %>
</div>