<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">BIENVENUE!</h1>
    <p class="lead text-muted">VOTRE SANTÉ, NOTRE FIERTÉ.</p>
    <span><%= current_user.role if current_user %></span>
    <hr>
  </div>
</section>