<%= render 'shared/masthead' %>
<div class="container">
  <div>
    <h1>Nos Services</h1>
    <div class="row">
      <div style="width:12rem;height:12rem;border:1px solid black;margin:2rem;">Service 1</div>
      <div style="width:12rem;height:12rem;border:1px solid black;margin:2rem;">Service 2</div>
      <div style="width:12rem;height:12rem;border:1px solid black;margin:2rem;">Service 3</div>
      <div style="width:12rem;height:12rem;border:1px solid black;margin:2rem;">Service 4</div>
    </div>
  </div>
</div>
