<div class="container portfolio-container">
  <h1>Editing Type Paiment</h1>

  <%= render 'form', type_paiment: @type_paiment %>

  <%= link_to 'Voir', @type_paiment %> |
  <%= link_to 'Retour', type_paiments_path %>
</div>